html {
	background: rgb(255, 255, 255); color: rgb(0, 0, 0); overflow-y: scroll;
}
body {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
lengend {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
body {
	font: 12px/1.5 Tahoma, Arial, "宋体", sans-serif; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 12px/1.5 Tahoma, Arial, "宋体", sans-serif; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 12px/1.5 Tahoma, Arial, "宋体", sans-serif; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 12px/1.5 Tahoma, Arial, "宋体", sans-serif; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 12px/1.5 Tahoma, Arial, "宋体", sans-serif; font-size-adjust: none; font-stretch: normal;
}
h1 {
	font-size: 100%; font-weight: normal;
}
h2 {
	font-size: 100%; font-weight: normal;
}
h3 {
	font-size: 100%; font-weight: normal;
}
h4 {
	font-size: 100%; font-weight: normal;
}
h5 {
	font-size: 100%; font-weight: normal;
}
h6 {
	font-size: 100%; font-weight: normal;
}
address {
	font-style: normal;
}
cite {
	font-style: normal;
}
dfn {
	font-style: normal;
}
em {
	font-style: normal;
}
var {
	font-style: normal;
}
code {
	font-family: "Courier New",Courier,monospace;
}
kbd {
	font-family: "Courier New",Courier,monospace;
}
pre {
	font-family: "Courier New",Courier,monospace;
}
samp {
	font-family: "Courier New",Courier,monospace;
}
tt {
	font-family: "Courier New",Courier,monospace;
}
small {
	font-size: 12px;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
	color: rgb(255, 115, 0); text-decoration: underline;
}
abbr[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
acronym[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
:focus {
	outline: 0px;
}
legend {
	color: rgb(0, 0, 0);
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
button {
	font-size: 100%;
}
input {
	font-size: 100%;
}
select {
	font-size: 100%;
}
textarea {
	font-size: 100%;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
hr {
	border: 0px currentColor; height: 1px;
}
img {
	-ms-interpolation-mode: bicubic;
}
.fd-left {
	float: left;
}
.fd-right {
	float: right;
}
.fd-clear {
	clear: both;
}
.fd-clr {
	zoom: 1;
}
.fd-clr::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
.fd-hide {
	display: none;
}
.fd-show {
	display: block;
}
.fd-inline {
	display: inline;
}
.fd-lump {
	display: inline-block; zoom: 1;
}
.fd-visible {
	visibility: visible;
}
.fd-hidden {
	visibility: hidden;
}
.fd-locate {
	position: relative;
}
.fd-cny {
	font-family: Helvetica,Arial;
	color:Red;
}
.fd-gray {
	color: rgb(102, 102, 102);
}
.fd-bold {
	font-weight: 700;
}
.screen {
	margin: 0px auto; padding: 0px 5px; width: 990px;
}
#header {
	
}
#content {
	
}
#footer {
	
}
.layout {
	
}
#header::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
#content::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
#footer::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
.layout::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
.grid {
	float: left;
}
.grid-main {
	float: left;
}
.grid-sub {
	float: left;
}
.grid-extra {
	float: left;
}
.grid-fixed {
	margin-right: 0px !important;
}
.layout-col .grid {
	width: 990px;
}
.layout-2col .grid {
	width: 490px; margin-right: 10px;
}
.layout-4col .grid {
	width: 240px; margin-right: 10px;
}
.layout-e5m0s6 .grid-extra {
	width: 200px; margin-right: 10px;
}
.layout-e5m0s6 .grid-main {
	width: 100%; margin-right: 10px;
}
.layout-e5m0s6 .grid-sub {
	width: 240px;
}
.layout-flying-e5m0s6 .grid-main {
	width: 100%; min-height: 1px;
}
.layout-flying-e5m0s6 .main-warp {
	margin: 0px 250px 0px 210px;
}
.layout-flying-e5m0s6 .grid-sub {
	width: 240px; margin-left: -240px;
}
.layout-flying-e5m0s6 .grid-extra {
	width: 200px; margin-left: -100%;
}
.layout-s8m0e8 .grid-sub {
	width: 320px; margin-right: 10px;
}
.layout-s8m0e8 .grid-main {
	width: 330px; margin-right: 10px;
}
.layout-s8m0e8 .grid-extra {
	width: 320px;
}
.layout-s5m0 .grid-sub {
	width: 200px; margin-right: 10px;
}
.layout-s5m0 .grid-main {
	width: 990px;
}
.layout-m0s6 .grid-main {
	width: 740px; margin-right: 10px;
}
.layout-m0s6 .grid-sub {
	width: 240px;
}
.layout-s8m0 .grid-sub {
	width: 320px; margin-right: 10px;
}
.layout-s8m0 .grid-main {
	width: 660px;
}
.layout-m0s8 .grid-main {
	width: 660px; margin-right: 10px;
}
.layout-m0s8 .grid-sub {
	width: 320px;
}
h1 {
	font-weight: 700;
}
h2 {
	font-weight: 700;
}
h3 {
	font-weight: 700;
}
h4 {
	font-weight: 700;
}
a:hover {
	color: rgb(255, 115, 0) !important;
}
a:active {
	color: rgb(255, 115, 0) !important;
}
#content {
	margin-top: 8px;
}
.layout-space .layout {
	margin-bottom: 8px;
}
.layout-fixed {
	margin-bottom: 0px !important;
}
.grid-right {
	float: right !important;
}
.fill-content #content {
	margin-top: 0px;
}
.fill-content .layout {
	margin: 0px auto; padding: 0px 4px; width: 990px;
}
.float-cancel {
	float: none !important;
}
.last-col {
	padding-right: 0px !important; margin-right: 0px !important;
}
.ms-yh {
	font-family: 微软雅黑,黑体,文泉驿正黑体,华文细黑; font-weight: 400;
}
a.a-img {
	line-height: 0; font-size: 0px; display: inline-block;
}
a.a-mix {
	line-height: 0; font-size: 0px; display: inline-block;
}
a.a-mix:hover {
	text-decoration: none;
}
a.a-mix:active {
	text-decoration: none;
}
a.a-mix img {
	margin-bottom: 2px;
}
a.a-mix span {
	line-height: 1.5; font-size: 12px; display: block;
}
a.a-mix .description {
	line-height: 1.5; font-size: 12px; display: block;
}
.vertical-img {
	text-align: center; overflow: hidden; font-size: 0px; display: table;
}
.vertical-img .box-img {
	vertical-align: middle; display: table-cell;
}
.vertical-img img {
	vertical-align: middle;
}
.define {
	zoom: 1;
}
.list {
	zoom: 1;
}
.list-product {
	zoom: 1;
}
.list-tags {
	zoom: 1;
}
.cell-header {
	zoom: 1;
}
.cell-product-3rd {
	zoom: 1;
}
.cell-tags {
	zoom: 1;
}
.cell-tags ul {
	zoom: 1;
}
.define::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
.list::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
.list-product::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
.list-tags::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
.cell-header::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
.cell-product-3rd::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
.cell-tags::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
.cell-tags ul::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
.define dt {
	float: left;
}
.define dd {
	float: left;
}
.list li {
	float: left;
}
.list-tags li {
	float: left;
}
.cell-header .title {
	float: left;
}
.cell-header li {
	float: left;
}
.cell-header dt {
	float: left;
}
.cell-header dd {
	float: left;
}
.cell-tags li {
	float: left;
}
.list-product li {
	float: left !important;
}
.list li li {
	float: none;
}
.cell-header p {
	overflow: hidden; _display: inline-block;
}
.cell-header ul {
	overflow: hidden; _display: inline-block;
}
.cell-header dl {
	overflow: hidden; _display: inline-block;
}
.cell-product-1st dt {
	overflow: hidden;
}
.cell-product-1st dd {
	overflow: hidden;
}
.cell-product-2nd dt {
	overflow: hidden;
}
.cell-product-2nd dd {
	overflow: hidden;
}
.cell-product-3rd dt {
	overflow: hidden;
}
.cell-product-3rd dd {
	overflow: hidden;
}
.cell-tags dd {
	overflow: hidden;
}
div.cell-tags ul {
	overflow: hidden;
}
.cell-product-2nd dt {
	line-height: 0; font-size: 0px; margin-bottom: 2px;
}
.cell-product-3rd dt {
	line-height: 0; font-size: 0px; float: left; _margin-right: -3px;
}
.cell-list-txt {
	line-height: 1.8;
}
.cell-tags dd {
	word-break: keep-all;
}
.cell-tags li {
	word-break: keep-all;
}
.cell-tags dt.fd-left {
	_margin-right: -3px;
}
div.cell-tags .fd-left {
	_margin-right: -3px;
}
#alibarV2 {
	background-position: 0px -20px; font: 12px/1.5 Tahoma, Arial, "宋体", sans-serif; height: 27px; text-align: left; color: rgb(102, 102, 102); font-size-adjust: none; font-stretch: normal; background-repeat: repeat-x;
}
#alibarV2 .alibar-container {
	background-position: 0px -20px; margin: 0px auto; padding: 0px 4px; width: 952px; height: 27px; background-repeat: repeat-x;
}
#alibarV2 a:link {
	color: rgb(102, 102, 102);
}
#alibarV2 a:visited {
	color: rgb(102, 102, 102);
}
#alibarV2 a:hover {
	color: rgb(255, 115, 0) !important; text-decoration: none;
}
#alibarV2 a:active {
	color: rgb(255, 115, 0) !important; text-decoration: none;
}
#alibarV2 .account-sign-status {
	height: 27px; float: left; position: relative; z-index: 699;
}
#alibarV2 .account-sign-status li {
	padding: 0px 8px; height: 27px; line-height: 27px; border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid; float: left;
}
#alibarV2 .account-sign-status .account-welcome {
	padding-left: 0px; word-wrap: normal; min-width: 134px;
}
#alibarV2 .account-sign-status .account-welcome a {
	font-weight: 400;
}
#alibarV2 .account-not {
	background-position: -32px -148px; padding-left: 15px;
}
#alibarV2 .account-signed {
	background-position: -32px -178px; padding-left: 15px;
}
#alibarV2 .acount-msg a span {
	padding: 0px 4px; border-radius: 3px; color: rgb(255, 255, 255); margin-left: 4px; background-color: rgb(255, 115, 0); -moz-border-radius: 3px;
}
#alibarV2 .acount-msg a:hover span {
	background-color: rgb(255, 51, 0);
}
#alibarV2 .alibar-tip {
	background-position: 0px -335px; left: -4px; top: 24px; width: 298px; height: 25px; position: absolute; z-index: 700; background-repeat: repeat-x;
}
#alibarV2 .alibar-tip .alibar-tip-container {
	background-position: 200px -400px; padding-top: 5px; float: left;
}
#alibarV2 .account-sign-status .alibar-tip a {
	background-position: -32px -310px; width: 269px; height: 20px; color: rgb(204, 102, 0); line-height: 20px; padding-left: 9px; font-weight: 400; float: left; display: block;
}
#alibarV2 .account-sign-status .alibar-tip a.btn-close {
	background-position: right -370px; width: 20px; height: 20px; line-height: 200px; overflow: hidden; padding-left: 0px;
}
#alibarV2 .alibar-tip a em {
	font-weight: 700; text-decoration: underline;
}
#alibarV2 .topnav {
	float: right;
}
#alibarV2 .bg-arrow {
	background-position: right -280px; padding-right: 8px; _background-position-y: -281px;
}
#alibarV2 .top-product-over .bg-arrow {
	background-position: right -260px; _background-position-y: -261px;
}
#alibarV2 .top-product-over .fd-hide {
	display: block;
}
#alibarV2 .top-service-over .fd-hide {
	display: block;
}
#alibarV2 .top-product {
	padding: 4px 6px 0px 0px; float: left;
}
#alibarV2 .top-cxt-service {
	padding-right: 5px; float: left; position: relative; z-index: 699;
}
#alibarV2 .top-ali-assistant {
	padding-right: 5px; float: left; position: relative; z-index: 699;
}
#alibarV2 .top-customer-service {
	padding-right: 5px; float: left; position: relative; z-index: 699;
}
#alibarV2 .top-customer-service {
	line-height: 22px; _line-height: 20px;
}
#alibarV2 .top-product-over {
	border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid;
}
#alibarV2 .title-cxt-service {
	padding: 1px 5px 1px 6px; height: 21px; line-height: 20px; position: relative; z-index: 701;
}
#alibarV2 .title-ali-assistant {
	padding: 1px 5px 1px 6px; height: 21px; line-height: 20px; position: relative; z-index: 701;
}
#alibarV2 .title-cxt-service {
	_width: 68px;
}
#alibarV2 .title-ali-assistant {
	_width: 56px;
}
#alibarV2 .top-product-over .title-cxt-service {
	background: rgb(255, 255, 255); border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(255, 255, 255); padding: 0px 4px 0px 5px;
}
#alibarV2 .top-product-over .title-ali-assistant {
	background: rgb(255, 255, 255); border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(255, 255, 255); padding: 0px 4px 0px 5px;
}
#alibarV2 .list-cxt-service {
	background: rgb(255, 255, 255); padding: 1px 6px 3px; border: 1px solid rgb(204, 204, 204); left: -1px; top: 22px; line-height: 22px; position: absolute; z-index: 700;
}
#alibarV2 .list-ali-assistant {
	background: rgb(255, 255, 255); padding: 1px 6px 3px; border: 1px solid rgb(204, 204, 204); left: -1px; top: 22px; line-height: 22px; position: absolute; z-index: 700;
}
#alibarV2 .list-cxt-service {
	width: 110px; padding-left: 4px;
}
#alibarV2 .list-cxt-service li {
	height: 22px;
}
#alibarV2 .list-cxt-service a {
	padding-left: 22px;
}
#alibarV2 .contact-us-free {
	background-position: -22px -58px;
}
#alibarV2 .fill-form-free {
	background-position: -22px -88px;
}
#alibarV2 .join-promotions {
	background-position: -22px -118px;
}
#alibarV2 .list-cxt-service a.iconAlitalk {
	line-height: 22px; text-decoration: none !important; _padding-top: 6px;
}
#alibarV2 .list-cxt-service a.icon-on {
	_background-position-y: -69px;
}
#alibarV2 .list-ali-assistant {
	width: 76px;
}
#alibarV2 .top-service {
	background: rgb(238, 238, 238); height: 18px; margin-top: 4px; margin-right: 25px; border-top-color: rgb(229, 229, 229); border-bottom-color: rgb(229, 229, 229); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; float: left; position: relative; z-index: 699;
}
#alibarV2 .top-service-over {
	background: rgb(255, 255, 255);
}
#alibarV2 .top-service ul {
	width: 192px; height: 18px; overflow: hidden; margin-left: -1px; border-left-color: rgb(229, 229, 229); border-left-width: 1px; border-left-style: solid; float: left;
}
#alibarV2 .top-service li {
	width: 64px; text-align: center; line-height: 18px; float: left;
}
#alibarV2 .top-sitemap {
	height: 18px; margin-right: -1px; float: left; _overflow: hidden;
}
#alibarV2 .title-sitemap {
	background-position: 5px -53px; width: 16px; height: 18px; line-height: 60px; overflow: hidden; vertical-align: top; border-right-color: rgb(229, 229, 229); border-left-color: rgb(229, 229, 229); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; display: inline-block; cursor: pointer; _position: relative;
}
#alibarV2 .top-service-over .title-sitemap {
	background-position: 5px -83px; border-left-color: rgb(255, 255, 255);
}
#alibarV2 .list-sitemap {
	background: rgb(255, 255, 255); border-width: 0px 1px; border-style: solid; border-color: rgb(229, 229, 229); left: -1px; top: 18px; width: 209px; position: absolute; z-index: 700;
}
#alibarV2 .list-sitemap dl {
	margin: 0px 8px; padding: 4px 0px 8px; width: 193px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid; float: left; _display: inline;
}
#alibarV2 .list-sitemap .list-service {
	margin-top: 3px; border-top-style: dotted;
}
#alibarV2 .list-sitemap dt {
	color: rgb(51, 51, 51); clear: left; font-weight: 700;
}
#alibarV2 .list-sitemap dd {
	width: 63px; float: left; word-break: keep-all;
}
#alibarV2 .list-sitemap-all {
	background: rgb(238, 238, 238); border-width: 1px 0px; border-style: solid; border-color: rgb(229, 229, 229); height: 18px; text-align: center; line-height: 18px; clear: both; font-weight: 700; margin-bottom: -1px; _line-height: 16px; _position: relative;
}
#alibarV2 .list-sitemap-all a {
	background-position: right 5px; padding-right: 9px; _background-position-y: 4px;
}
#alibarV2 .top-suppliers {
	padding: 0px 15px; height: 27px; line-height: 27px; font-size: 14px; font-weight: 700; border-right-color: rgb(238, 238, 238); border-left-color: rgb(238, 238, 238); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; float: left;
}
#alibarV2 .top-suppliers a:link {
	color: rgb(153, 153, 153);
}
#alibarV2 .top-suppliers a:visited {
	color: rgb(153, 153, 153);
}
#alibar-v4 {
	border-top-color: rgb(216, 216, 216); border-bottom-color: rgb(216, 216, 216); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(247, 247, 247);
}
#alibar-v4 .alibar-container {
	font: 12px/23px Tahoma, Arial, "宋体", sans-serif; margin: 0px auto; padding: 0px 4px; width: 952px; height: 23px; font-size-adjust: none; font-stretch: normal; _overflow: hidden;
}
#alibar-v4 a {
	text-decoration: none;
}
#alibar-v4 a:hover {
	color: rgb(255, 115, 0) !important;
}
#alibar-v4 li {
	float: left;
}
#alibar-v4 .extra {
	position: relative; z-index: 1804;
}
#alibar-v4 .account-sign-status {
	color: rgb(68, 68, 68); float: left;
}
#alibar-v4 .account-sign-status a:link {
	color: rgb(51, 102, 153);
}
#alibar-v4 .account-sign-status a:visited {
	color: rgb(51, 102, 153);
}
#alibar-v4 .account-sign-status li {
	padding: 0px 5px;
}
#alibar-v4 .account-sign-status a.modify-nick {
	color: rgb(255, 115, 0);
}
#alibar-v4 .account-msg a span {
	padding: 0px 4px; border-radius: 3px; color: rgb(255, 255, 255); margin-left: 2px; background-color: rgb(255, 115, 0); -moz-border-radius: 3px;
}
#alibar-v4 .account-msg a:hover span {
	background-color: rgb(255, 51, 0);
}
#alibar-v4 .topnav {
	float: right;
}
#alibar-v4 .topnav a:link {
	color: rgb(102, 102, 102);
}
#alibar-v4 .topnav a:visited {
	color: rgb(102, 102, 102);
}
#alibar-v4 .topnav li {
	background-position: right 6px;
}
#alibar-v4 .nav-title {
	padding: 0px 10px; height: 24px; float: left;
}
#alibar-v4 .extra:hover .nav-title {
	padding: 0px 9px; border-right-color: rgb(209, 209, 209); border-left-color: rgb(209, 209, 209); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255);
}
#alibar-v4 .nav-hover .nav-title {
	padding: 0px 9px; border-right-color: rgb(209, 209, 209); border-left-color: rgb(209, 209, 209); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255);
}
#alibar-v4 .topnav li.nav-hover-prev {
	background: 0px;
}
#alibar-v4 .nav-arrow {
	background-position: right -160px; padding-right: 10px;
}
#alibar-v4 .topnav li:hover .nav-arrow {
	background-position: right -190px;
}
#alibar-v4 .topnav .nav-hover .nav-arrow {
	background-position: right -190px;
}
#alibar-v4 .list-first {
	background: 0px;
}
#alibar-v4 .nav-content {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(209, 209, 209) rgb(209, 209, 209); display: none; box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2); background-color: rgb(255, 255, 255);
}
#alibar-v4 .topnav .extra:hover .nav-content {
	top: 24px; display: block; position: absolute; z-index: 2000;
}
#alibar-v4 .topnav .nav-hover .nav-content {
	top: 24px; display: block; position: absolute; z-index: 2000;
}
#alibar-v4 .nav-content dl {
	padding: 4px 12px; float: left;
}
#alibar-v4 .nav-content dt {
	color: rgb(176, 176, 176); font-weight: 700;
}
#alibar-v4 .nav-content dd {
	line-height: 24px;
}
#alibar-v4 .nav-content a:link {
	color: rgb(68, 68, 68);
}
#alibar-v4 .nav-content a:visited {
	color: rgb(68, 68, 68);
}
#alibar-v4 .topnav-myali .nav-content {
	left: 0px; width: 252px;
}
#alibar-v4 .topnav-purchaselist .nav-title span {
	background-position: 0px -238px; padding-left: 12px;
}
#alibar-v4 .topnav-purchaselist-stock em {
	color: rgb(255, 115, 0);
}
#alibar-v4 .topnav-purchaselist .nav-content {
	left: 0px; width: 240px;
}
#alibar-v4 .topnav-purchaselist .product-list {
	padding: 4px 0px;
}
#alibar-v4 .topnav-purchaselist .product-list p {
	padding: 16px 0px; text-align: center; color: rgb(82, 81, 81);
}
#alibar-v4 .topnav-purchaselist .purchase-info {
	padding: 10px 0px; text-align: center; background-color: rgb(247, 247, 247);
}
#alibar-v4 .topnav-purchaselist .purchase-info p {
	color: rgb(100, 100, 100); margin-bottom: 6px;
}
#alibar-v4 .topnav-purchaselist .purchase-info em {
	font-weight: 700;
}
#alibar-v4 .topnav-purchaselist-stock .product-list p {
	display: none;
}
#alibar-v4 .topnav-purchaselist dl {
	padding: 4px 8px;
}
#alibar-v4 .topnav-purchaselist dl a {
	color: rgb(0, 102, 204) !important;
}
#alibar-v4 .topnav-purchaselist dl a:hover {
	color: rgb(255, 115, 0) !important;
}
#alibar-v4 .topnav-purchaselist dt {
	margin: 4px 8px 0px 0px; text-align: center; float: left;
}
#alibar-v4 .topnav-purchaselist dt a {
	width: 50px; height: 50px; overflow: hidden; display: block;
}
#alibar-v4 .topnav-purchaselist dd {
	width: 166px; line-height: 1.5; float: right;
}
#alibar-v4 .topnav-purchaselist dd.price {
	color: rgb(140, 140, 140); font-family: Helvetica;
}
#alibar-v4 .topnav-purchaselist dd.action {
	text-align: right;
}
#alibar-v4 .topnav-purchaselist dd em {
	margin: 0px 2px; color: rgb(255, 115, 0);
}
#alibar-v4 .topnav-purchaselist a.btn-y {
	border-width: 1px; border-style: solid; border-color: rgb(232, 159, 14) rgb(232, 159, 14) rgb(207, 127, 1); border-radius: 3px; width: 90px; height: 24px; text-align: center; color: rgb(255, 255, 255) !important; line-height: 24px; font-weight: 700; display: inline-block; background-color: rgb(252, 160, 0);
}
#alibar-v4 .topnav-purchaselist a.btn-y:hover {
	
}
#alibar-v4 .topnav-purchaselist a.btn-y:active {
	
}
#alibar-v4 .topnav-tp .nav-content {
	left: 0px; width: 128px;
}
#alibar-v4 .topnav-tp .nav-content a {
	padding-left: 20px;
}
#alibar-v4 .topnav-tp .contact-us {
	background-position: 2px -56px;
}
#alibar-v4 .topnav-tp .order-online {
	text-decoration: none !important;
}
#alibar-v4 .topnav-tp .apply-form {
	background-position: 2px -86px;
}
#alibar-v4 .topnav-tp .join-promotion {
	background-position: 2px -116px;
}
#alibar-v4 .topnav-tp .renewal-online {
	background-position: 2px -279px;
}
#alibar-v4 .topnav-sitemap .nav-content {
	width: 361px; right: 0px;
}
#alibar-v4 .alibar-tips {
	background: rgb(255, 252, 220); padding: 10px 8px; border: 1px solid rgb(231, 212, 172); position: absolute; z-index: 1500; box-shadow: 2px 2px rgba(0,0,0,0.1);
}
#alibar-v4 .tip-text {
	padding: 0px 20px 0px 14px; width: 156px; float: left;
}
#alibar-v4 .detail-link {
	color: rgb(51, 102, 153);
}
#alibar-v4 .tip-text em {
	color: rgb(201, 120, 49);
}
#alibar-v4 .tip-text a.i-know {
	text-align: right; display: block;
}
#ali-masthead-5i .alisearch-action button {
	font-family: "Microsoft YaHei",SimHei,"WenQuanYi Micro Hei",STHeiti;
}
#ali-masthead-5i .ali-logo .sub-logo .sub-logo-txt {
	font-family: "Microsoft YaHei",SimHei,"WenQuanYi Micro Hei",STHeiti;
}
#ali-masthead-5i {
	padding: 16px 4px; height: 53px; _overflow: hidden;
}
#ali-masthead-5i .ali-logo {
	background-position: 156px -196px; margin-top: 4px; float: left;
}
#ali-masthead-5i .main-logo {
	margin: 8px 8px 4px 4px; width: 168px; height: 39px; padding-right: 8px; text-decoration: none; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; float: left; display: block;
}
#ali-masthead-5i .ali-logo .sub-logo-market {
	width: 230px; height: 22px;
}
#ali-masthead-5i .ali-logo .sub-logo {
	height: 43px; text-decoration: none; margin-top: 7px; float: left; display: inline-block;
}
#ali-masthead-5i .ali-logo .sub-logo .sub-logo-txt {
	height: 22px; line-height: 22px; font-size: 22px; float: left; display: block; zoom: 1;
}
#ali-masthead-5i .ali-logo .sub-logo .sub-logo-url {
	line-height: 26px; font-family: Tahoma,Arial,sans-serif; font-size: 10px; font-weight: 700; -webkit-text-size-adjust: none;
}
#ali-masthead-5i .ali-logo a:link {
	color: rgb(68, 68, 68); text-decoration: none;
}
#ali-masthead-5i .ali-logo a:visited {
	color: rgb(68, 68, 68); text-decoration: none;
}
#ali-masthead-5i .ali-logo a:hover {
	color: rgb(255, 115, 0); text-decoration: none;
}
#ali-masthead-5i .ali-market {
	padding: 2px 0px 0px 8px; width: 84px; height: 20px; float: left;
}
#ali-masthead-5i .ali-market .ali-market-list {
	border-radius: 2px; border: 1px solid rgb(221, 221, 221); width: 80px; position: relative; z-index: 101; background-color: rgb(255, 255, 255);
}
#ali-masthead-5i .ali-market-list .ali-market-more {
	background-position: 58px -77px; height: 18px; line-height: 22px; overflow: hidden; margin-left: 8px; _line-height: 18px;
}
#ali-masthead-5i .ali-market .ali-market-list span {
	color: rgb(153, 153, 153); text-decoration: none;
}
#ali-masthead-5i .ali-market .ali-market-list a {
	color: rgb(153, 153, 153); text-decoration: none;
}
#ali-masthead-5i .ali-market .ali-market-list a:hover {
	color: rgb(255, 115, 0);
}
#ali-masthead-5i .ali-market .ali-market-list ul {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(221, 221, 221) rgb(221, 221, 221); padding: 6px 0px 2px 8px; border-radius: 0px 0px 2px 2px; width: 72px; display: none; background-color: rgb(255, 255, 255);
}
#ali-masthead-5i .hover.ali-market-list .ali-market-more {
	background-position: 57px -118px;
}
#ali-masthead-5i .ali-market-list:hover .ali-market-more {
	background-position: 57px -118px;
}
#ali-masthead-5i .ali-market .hover.ali-market-list span {
	color: rgb(51, 51, 51);
}
#ali-masthead-5i .ali-market .ali-market-list:hover span {
	color: rgb(51, 51, 51);
}
#ali-masthead-5i .ali-market .hover.ali-market-list a {
	color: rgb(51, 51, 51);
}
#ali-masthead-5i .ali-market .ali-market-list:hover a {
	color: rgb(51, 51, 51);
}
#ali-masthead-5i .ali-market .hover.ali-market-list ul {
	left: -1px; top: 18px; float: left; display: block; position: absolute; z-index: 102;
}
#ali-masthead-5i .ali-market .ali-market-list:hover ul {
	left: -1px; top: 18px; float: left; display: block; position: absolute; z-index: 102;
}
#ali-masthead-5i .ali-search {
	padding: 4px 0px; width: 532px; margin-top: 10px; float: right;
}
#ali-masthead-5i legend {
	display: none;
}
#ali-masthead-5i .alisearch-container {
	width: 532px; height: 36px;
}
#ali-masthead-5i .alisearch-box {
	float: left;
}
#ali-masthead-5i .alisearch-type {
	float: left;
}
#ali-masthead-5i .alisearch-keywords {
	float: left;
}
#ali-masthead-5i .alisearch-action {
	float: left;
}
#ali-masthead-5i .alisearch-box {
	border-width: 3px 0px 3px 3px; border-style: solid none solid solid; border-color: rgb(204, 204, 204) currentColor rgb(204, 204, 204) rgb(204, 204, 204);
}
#ali-masthead-5i .alisearch-type {
	width: 60px; height: 30px; position: relative; z-index: 101;
}
#ali-masthead-5i .alisearch-type ul {
	background-position: 38px -70px; padding: 0px 8px; width: 42px; height: 30px; overflow: hidden; border-right-color: rgb(238, 238, 238); border-left-color: rgb(238, 238, 238); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; position: absolute; background-color: rgb(245, 245, 245);
}
#ali-masthead-5i .alisearch-type ul.hover {
	background-position: 38px -111px; height: 90px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; z-index: 102;
}
#ali-masthead-5i .alisearch-type li {
	width: 42px; height: 30px; line-height: 30px;
}
#ali-masthead-5i .alisearch-type li a {
	color: rgb(51, 51, 51) !important;
}
#ali-masthead-5i .alisearch-type li a:hover {
	color: rgb(51, 51, 51) !important;
}
#ali-masthead-5i .alisearch-keywords {
	padding: 5px 4px; width: 299px; height: 20px; background-color: rgb(255, 255, 255);
}
#ali-masthead-5i .alisearch-keywords input {
	border: 0px currentColor; width: 299px; height: 20px; line-height: 24px; overflow: hidden; position: relative; z-index: 998;
}
#ali-masthead-5i .alisearch-keywords input.empty {
	color: gray;
}
#ali-masthead-5i .alisearch-action button {
	border: 0px currentColor; width: 90px; height: 36px; color: rgb(255, 255, 255); line-height: 36px; overflow: hidden; font-size: 16px; font-weight: 400; float: left; display: block; cursor: pointer; background-repeat: repeat-x;
}
#ali-masthead-5i .alisearch-action button.global {
	background-position: 0px -300px; width: 70px; margin-left: 2px; background-color: rgb(255, 115, 0);
}
#ali-masthead-5i .alisearch-action button.global:hover {
	background-position: 0px -350px;
}
.clothing#ali-masthead-5i .alisearch-action button.market {
	background-position: 0px -400px; background-color: rgb(204, 0, 0);
}
.home#ali-masthead-5i .alisearch-action button.market {
	background-position: 0px -600px; background-color: rgb(220, 22, 64);
}
.industrial#ali-masthead-5i .alisearch-action button.market {
	background-position: 0px -500px; background-color: rgb(31, 84, 111);
}
.commodity#ali-masthead-5i .alisearch-action button.market {
	background-position: 0px -800px; background-color: rgb(213, 49, 20);
}
.material#ali-masthead-5i .alisearch-action button.market {
	background-position: 0px -700px; background-color: rgb(57, 126, 190);
}
.food#ali-masthead-5i .alisearch-action button.market {
	background-position: 0px -900px; background-color: rgb(100, 152, 2);
}
.bizservice#ali-masthead-5i .alisearch-action button.market {
	background-position: 0px -1000px; background-color: rgb(168, 132, 98);
}
.clothing#ali-masthead-5i .alisearch-action button.market:hover {
	background-position: 0px -450px;
}
.home#ali-masthead-5i .alisearch-action button.market:hover {
	background-position: 0px -650px;
}
.industrial#ali-masthead-5i .alisearch-action button.market:hover {
	background-position: 0px -550px;
}
.commodity#ali-masthead-5i .alisearch-action button.market:hover {
	background-position: 0px -850px;
}
.material#ali-masthead-5i .alisearch-action button.market:hover {
	background-position: 0px -750px;
}
.food#ali-masthead-5i .alisearch-action button.market:hover {
	background-position: 0px -950px;
}
.bizservice#ali-masthead-5i .alisearch-action button.market:hover {
	background-position: 0px -1050px;
}
.clothing#ali-masthead-5i .alisearch-box {
	border-color: rgb(204, 0, 0);
}
.home#ali-masthead-5i .alisearch-box {
	border-color: rgb(220, 22, 64);
}
.industrial#ali-masthead-5i .alisearch-box {
	border-color: rgb(31, 84, 111);
}
.commodity#ali-masthead-5i .alisearch-box {
	border-color: rgb(213, 49, 20);
}
.material#ali-masthead-5i .alisearch-box {
	border-color: rgb(61, 134, 200);
}
.food#ali-masthead-5i .alisearch-box {
	border-color: rgb(100, 152, 2);
}
.bizservice#ali-masthead-5i .alisearch-box {
	border-color: rgb(168, 132, 98);
}
#ali-nav-5i {
	margin-bottom: 8px;
}
#ali-nav-main {
	height: 34px; padding-top: 2px; background-repeat: repeat-x; background-color: rgb(204, 0, 0);
}
#ali-nav-main .ali-nav-category {
	float: left;
}
#ali-nav-main .ali-nav-category ul {
	position: relative; _float: left;
}
#ali-nav-main .ali-nav-category ul li {
	margin: 0px 3px; height: 34px; line-height: 34px; float: left; _display: inline;
}
#ali-nav-main .ali-nav-category ul a {
	padding: 0px 15px; color: rgb(255, 255, 255) !important; overflow: hidden; font-size: 14px; font-weight: 700; display: inline-block;
}
#ali-nav-main .ali-nav-category ul a:hover {
	text-decoration: underline;
}
#ali-nav-main .ali-nav-category li.hover {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(175, 0, 0) rgb(175, 0, 0) currentColor; margin: 0px 2px; height: 33px; line-height: 32px;
}
#ali-nav-main .ali-nav-category li.current {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(175, 0, 0) rgb(175, 0, 0) currentColor; margin: 0px 2px; height: 33px; line-height: 32px;
}
#ali-nav-main .ali-nav-category li.current a {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(191, 0, 0) rgb(191, 0, 0) currentColor; padding: 0px 14px; height: 32px; color: rgb(51, 51, 51) !important;
}
#ali-nav-main .ali-nav-category li.hover a {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(191, 0, 0) rgb(191, 0, 0) currentColor; padding: 0px 14px; height: 32px; color: rgb(51, 51, 51) !important;
}
#ali-nav-main .ali-nav-category li.current a {
	background-color: rgb(251, 243, 233) !important;
}
#ali-nav-main .ali-nav-category li.hover a {
	background-color: rgb(255, 228, 195);
}
#ali-nav-main .ali-nav-promotion {
	padding-left: 20px; float: right;
}
#ali-nav-main .ali-nav-promotion ul {
	_float: left;
}
#ali-nav-main .ali-nav-promotion li {
	padding: 0px 8px; height: 34px; line-height: 34px; overflow: hidden; float: left;
}
#ali-nav-main .ali-nav-promotion a {
	color: rgb(255, 255, 255) !important;
}
#ali-nav-main .ali-nav-category li {
	position: relative; z-index: 9;
}
#ali-nav-main .ali-nav-category li.hover {
	z-index: 8;
}
#ali-nav-main .ali-nav-category li.current {
	z-index: 7;
}
#ali-nav-main .ali-nav-category li.hover sup {
	top: -9px;
}
#ali-nav-main .ali-nav-category li sup.hot {
	background-position: 0px -40px;
}
#ali-nav-main .ali-nav-category li sup.new {
	background-position: 0px -80px;
}
#ali-nav-sub {
	height: 29px; overflow: hidden; border-bottom-color: rgb(242, 214, 180); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(251, 243, 233);
}
.hover#ali-nav-sub {
	background-color: rgb(255, 228, 195);
}
#ali-nav-sub ul {
	float: left; display: none; position: relative;
}
#ali-nav-sub ul.current {
	display: block;
}
#ali-nav-sub li {
	padding: 0px 12px; height: 29px; line-height: 32px; float: left;
}
#ali-nav-sub li a {
	color: rgb(51, 51, 51);
}
#ali-nav-sub li.current a {
	color: rgb(204, 0, 0); font-weight: 700;
}
.clothing#ali-nav-5i #ali-nav-main {
	background-color: rgb(204, 0, 0);
}
.home#ali-nav-5i #ali-nav-main {
	background-color: rgb(220, 22, 64);
}
.industrial#ali-nav-5i #ali-nav-main {
	background-color: rgb(31, 84, 111);
}
.commodity#ali-nav-5i #ali-nav-main {
	background-color: rgb(213, 49, 20);
}
.material#ali-nav-5i #ali-nav-main {
	background-color: rgb(57, 126, 190);
}
.food#ali-nav-5i #ali-nav-main {
	background-color: rgb(95, 144, 1);
}
.bizservice#ali-nav-5i #ali-nav-main {
	background-color: rgb(168, 132, 98);
}
.clothing#ali-nav-5i #ali-nav-sub li.current a {
	color: rgb(204, 0, 0);
}
.home#ali-nav-5i #ali-nav-sub li.current a {
	color: rgb(220, 22, 64);
}
.industrial#ali-nav-5i #ali-nav-sub li.current a {
	color: rgb(31, 84, 111);
}
.commodity#ali-nav-5i #ali-nav-sub li.current a {
	color: rgb(213, 49, 20);
}
.material#ali-nav-5i #ali-nav-sub li.current a {
	color: rgb(57, 126, 190);
}
.food#ali-nav-5i #ali-nav-sub li.current a {
	color: rgb(95, 144, 1);
}
.bizservice#ali-nav-5i #ali-nav-sub li.current a {
	color: rgb(168, 132, 98);
}
.industrial#ali-nav-5i #ali-nav-main .ali-nav-category li.hover {
	border-color: rgb(22, 68, 92);
}
.industrial#ali-nav-5i #ali-nav-main .ali-nav-category li.current {
	border-color: rgb(22, 68, 92);
}
.commodity#ali-nav-5i #ali-nav-main .ali-nav-category li.hover {
	border-color: rgb(181, 6, 43);
}
.commodity#ali-nav-5i #ali-nav-main .ali-nav-category li.current {
	border-color: rgb(181, 6, 43);
}
.material#ali-nav-5i #ali-nav-main .ali-nav-category li.hover {
	border-color: rgb(13, 86, 153);
}
.material#ali-nav-5i #ali-nav-main .ali-nav-category li.current {
	border-color: rgb(13, 86, 153);
}
.food#ali-nav-5i #ali-nav-main .ali-nav-category li.hover {
	border-color: rgb(85, 129, 1);
}
.food#ali-nav-5i #ali-nav-main .ali-nav-category li.current {
	border-color: rgb(85, 129, 1);
}
.bizservice#ali-nav-5i #ali-nav-main .ali-nav-category li.hover {
	border-color: rgb(144, 112, 81);
}
.bizservice#ali-nav-5i #ali-nav-main .ali-nav-category li.current {
	border-color: rgb(144, 112, 81);
}
.industrial#ali-nav-5i #ali-nav-main .ali-nav-category li.current a {
	border-color: rgb(32, 85, 112);
}
.industrial#ali-nav-5i #ali-nav-main .ali-nav-category li.hover a {
	border-color: rgb(32, 85, 112);
}
.commodity#ali-nav-5i #ali-nav-main .ali-nav-category li.current a {
	border-color: rgb(206, 18, 58);
}
.commodity#ali-nav-5i #ali-nav-main .ali-nav-category li.hover a {
	border-color: rgb(206, 18, 58);
}
.material#ali-nav-5i #ali-nav-main .ali-nav-category li.current a {
	border-color: rgb(13, 86, 153);
}
.material#ali-nav-5i #ali-nav-main .ali-nav-category li.hover a {
	border-color: rgb(13, 86, 153);
}
.food#ali-nav-5i #ali-nav-main .ali-nav-category li.current a {
	border-color: rgb(85, 129, 1);
}
.food#ali-nav-5i #ali-nav-main .ali-nav-category li.hover a {
	border-color: rgb(85, 129, 1);
}
.bizservice#ali-nav-5i #ali-nav-main .ali-nav-category li.current a {
	border-color: rgb(177, 145, 114);
}
.bizservice#ali-nav-5i #ali-nav-main .ali-nav-category li.hover a {
	border-color: rgb(177, 145, 114);
}
.industrial#ali-nav-5i #ali-nav-main .ali-nav-category li.current a {
	background-color: rgb(238, 244, 245) !important;
}
.industrial#ali-nav-5i #ali-nav-sub {
	background-color: rgb(238, 244, 245);
}
.commodity#ali-nav-5i #ali-nav-main .ali-nav-category li.current a {
	background-color: rgb(255, 234, 226) !important;
}
.commodity#ali-nav-5i #ali-nav-sub {
	background-color: rgb(255, 234, 226);
}
.material#ali-nav-5i #ali-nav-main .ali-nav-category li.current a {
	background-color: rgb(242, 249, 255) !important;
}
.material#ali-nav-5i #ali-nav-sub {
	background-color: rgb(242, 249, 255);
}
.bizservice#ali-nav-5i #ali-nav-main .ali-nav-category li.current a {
	background-color: rgb(246, 241, 236) !important;
}
.bizservice#ali-nav-5i #ali-nav-sub {
	background-color: rgb(246, 241, 236);
}
.clothing#ali-nav-5i .hover#ali-nav-sub {
	background-color: rgb(255, 228, 195);
}
.clothing#ali-nav-5i #ali-nav-main .ali-nav-category li.hover a {
	background-color: rgb(255, 228, 195);
}
.commodity#ali-nav-5i .hover#ali-nav-sub {
	background-color: rgb(255, 217, 189);
}
.commodity#ali-nav-5i #ali-nav-main .ali-nav-category li.hover a {
	background-color: rgb(255, 217, 189);
}
.material#ali-nav-5i .hover#ali-nav-sub {
	background-color: rgb(215, 236, 255);
}
.material#ali-nav-5i #ali-nav-main .ali-nav-category li.hover a {
	background-color: rgb(215, 236, 255);
}
.industrial#ali-nav-5i .hover#ali-nav-sub {
	background-color: rgb(220, 230, 232);
}
.industrial#ali-nav-5i #ali-nav-main .ali-nav-category li.hover a {
	background-color: rgb(220, 230, 232);
}
.home#ali-nav-5i .hover#ali-nav-sub {
	background-color: rgb(254, 245, 201);
}
.home#ali-nav-5i #ali-nav-main .ali-nav-category li.hover a {
	background-color: rgb(254, 245, 201);
}
.food#ali-nav-5i .hover#ali-nav-sub {
	background-color: rgb(254, 245, 201);
}
.food#ali-nav-5i #ali-nav-main .ali-nav-category li.hover a {
	background-color: rgb(254, 245, 201);
}
.bizservice#ali-nav-5i .hover#ali-nav-sub {
	background-color: rgb(236, 226, 215);
}
.bizservice#ali-nav-5i #ali-nav-main .ali-nav-category li.hover a {
	background-color: rgb(236, 226, 215);
}
.clothing#ali-nav-5i #ali-nav-main {
	background-position: 0px -50px;
}
.clothing#ali-nav-5i #ali-nav-main .ali-nav-promotion {
	background-position: -14px -102px;
}
.home#ali-nav-5i #ali-nav-main {
	background-position: 0px -150px;
}
.home#ali-nav-5i #ali-nav-main .ali-nav-promotion {
	background-position: -14px -202px;
}
.industrial#ali-nav-5i #ali-nav-main {
	background-position: 0px -250px;
}
.industrial#ali-nav-5i #ali-nav-main .ali-nav-promotion {
	background-position: -14px -302px;
}
.commodity#ali-nav-5i #ali-nav-main {
	background-position: 0px -350px;
}
.commodity#ali-nav-5i #ali-nav-main .ali-nav-promotion {
	background-position: -14px -402px;
}
.material#ali-nav-5i #ali-nav-main {
	background-position: 0px -450px;
}
.material#ali-nav-5i #ali-nav-main .ali-nav-promotion {
	background-position: -14px -502px;
}
.food#ali-nav-5i #ali-nav-main {
	background-position: 0px -550px;
}
.food#ali-nav-5i #ali-nav-main .ali-nav-promotion {
	background-position: -14px -602px;
}
.bizservice#ali-nav-5i #ali-nav-main {
	background-position: 0px -650px;
}
.bizservice#ali-nav-5i #ali-nav-main .ali-nav-promotion {
	background-position: -14px -702px;
}
.clothing#ali-nav-5i #ali-nav-sub {
	border-bottom-color: rgb(223, 217, 209); border-bottom-width: 1px; border-bottom-style: solid;
}
.home#ali-nav-5i #ali-nav-sub {
	border-bottom-color: rgb(223, 217, 209); border-bottom-width: 1px; border-bottom-style: solid;
}
.industrial#ali-nav-5i #ali-nav-sub {
	border-bottom-color: rgb(223, 217, 209); border-bottom-width: 1px; border-bottom-style: solid;
}
.commodity#ali-nav-5i #ali-nav-sub {
	border-bottom-color: rgb(228, 211, 205); border-bottom-width: 1px; border-bottom-style: solid;
}
.material#ali-nav-5i #ali-nav-sub {
	border-bottom-color: rgb(213, 227, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.food#ali-nav-5i #ali-nav-sub {
	border-bottom-color: rgb(227, 218, 173); border-bottom-width: 1px; border-bottom-style: solid;
}
.bizservice#ali-nav-5i #ali-nav-sub {
	border-bottom-color: rgb(227, 222, 217); border-bottom-width: 1px; border-bottom-style: solid;
}
.clothing#ali-nav-5i .hover#ali-nav-sub {
	border-bottom-color: rgb(236, 211, 181); border-bottom-width: 1px; border-bottom-style: solid;
}
.home#ali-nav-5i .hover#ali-nav-sub {
	border-bottom-color: rgb(227, 218, 173); border-bottom-width: 1px; border-bottom-style: solid;
}
.industrial#ali-nav-5i .hover#ali-nav-sub {
	border-bottom-color: rgb(198, 210, 212); border-bottom-width: 1px; border-bottom-style: solid;
}
.commodity#ali-nav-5i .hover#ali-nav-sub {
	border-bottom-color: rgb(232, 196, 170); border-bottom-width: 1px; border-bottom-style: solid;
}
.material#ali-nav-5i .hover#ali-nav-sub {
	border-bottom-color: rgb(188, 210, 231); border-bottom-width: 1px; border-bottom-style: solid;
}
.bizservice#ali-nav-5i .hover#ali-nav-sub {
	border-bottom-color: rgb(217, 208, 198); border-bottom-width: 1px; border-bottom-style: solid;
}
html {
	color: rgb(153, 153, 153);
}
a:link {
	color: rgb(51, 51, 51);
}
a:visited {
	color: rgb(51, 51, 51);
}
.black {
	color: rgb(0, 0, 0);
}
.pink {
	color: rgb(255, 102, 136);
}
a.pink:link {
	color: rgb(255, 102, 136);
}
a.pink:visited {
	color: rgb(255, 102, 136);
}
.red {
	color: rgb(204, 0, 0);
}
a.red:link {
	color: rgb(204, 0, 0);
}
a.red:visited {
	color: rgb(204, 0, 0);
}
.cell-product-1st em.value {
	font-weight: 700;
}
.cell-product-2nd em.value {
	font-weight: 700;
}
.cell-product-3rd em.value {
	font-weight: 700;
}
a.more {
	background-position: right -68px; padding-right: 6px; _background-position-y: -69px;
}
a.more:hover {
	background-position: right -92px; _background-position-y: -93px;
}
a.more:active {
	background-position: right -92px; _background-position-y: -93px;
}
a.btn-action:link {
	color: rgb(228, 103, 2);
}
a.btn-action:visited {
	color: rgb(228, 103, 2);
}
.line-dashed-top {
	background-position: 0px -599px; padding-top: 1px; background-repeat: repeat-x;
}
.list-square li {
	background-position: 0px -215px; padding-left: 8px;
}
#alibar-v4 .alibar-container {
	width: 990px;
}
.icon-whole {
	background-position: 0px -148px; width: 20px; height: 18px; line-height: 60px; overflow: hidden; vertical-align: bottom; display: inline-block;
}
.icon-factory {
	padding-left: 18px;
}
.icon-import {
	padding-left: 18px;
}
.icon-brand {
	padding-left: 18px;
}
.icon-market {
	padding-left: 18px;
}
.icon-source {
	padding-left: 18px;
}
.icon-dealers {
	padding-left: 18px;
}
.icon-factory {
	background-position: 0px -219px;
}
.icon-import {
	background-position: 0px -249px;
}
.icon-brand {
	background-position: 0px -279px;
}
.icon-market {
	background-position: 0px -309px;
}
.icon-source {
	background-position: 0px -339px;
}
.icon-dealers {
	background-position: 0px -369px;
}
.icon-book {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-spot {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-alliance {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-store {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-instead {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-net {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-region {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-area-n {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-chief-n {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-area-bj {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-chief-bj {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-area-zj {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-chief-zj {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-area-gd {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-chief-gd {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-area-js {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-chief-js {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-area-s {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-chief-s {
	height: 18px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon-book {
	background-position: 0px -399px; width: 24px;
}
.icon-spot {
	background-position: 0px -429px; width: 24px;
}
.icon-alliance {
	background-position: 0px -459px; width: 24px;
}
.icon-store {
	background-position: 0px -598px; width: 51px;
}
.icon-instead {
	background-position: 0px -618px; width: 51px;
}
.icon-net {
	background-position: 0px -638px; width: 51px;
}
.icon-region {
	background-position: 0px -658px; width: 51px;
}
.icon-area-n {
	background-position: 0px -678px; width: 44px;
}
.icon-chief-n {
	background-position: 0px -698px; width: 44px;
}
.icon-area-bj {
	background-position: 0px -718px; width: 44px;
}
.icon-chief-bj {
	background-position: 0px -738px; width: 44px;
}
.icon-area-zj {
	background-position: 0px -758px; width: 44px;
}
.icon-chief-zj {
	background-position: 0px -778px; width: 44px;
}
.icon-area-gd {
	background-position: 0px -798px; width: 44px;
}
.icon-chief-gd {
	background-position: 0px -818px; width: 44px;
}
.icon-area-js {
	background-position: 0px -838px; width: 44px;
}
.icon-chief-js {
	background-position: 0px -858px; width: 44px;
}
.icon-area-s {
	background-position: 0px -879px; width: 44px;
}
.icon-chief-s {
	background-position: 0px -898px; width: 44px;
}
.icon-hot {
	left: 0px; top: 0px; line-height: 100px; overflow: hidden; position: absolute;
}
.icon-new {
	left: 0px; top: 0px; line-height: 100px; overflow: hidden; position: absolute;
}
.icon-promo {
	left: 0px; top: 0px; line-height: 100px; overflow: hidden; position: absolute;
}
.icon-order {
	left: 0px; top: 0px; line-height: 100px; overflow: hidden; position: absolute;
}
.icon-hot {
	width: 43px; height: 43px;
}
.icon-new {
	background-position: 0px -87px; width: 43px; height: 43px;
}
.icon-promo {
	background-position: 0px -49px; width: 28px; height: 28px;
}
.icon-order {
	background-position: 0px -180px; width: 23px; height: 23px;
}
.icon-guarantee {
	line-height: 18px; padding-left: 20px; display: inline-block;
}
.icon-alipay {
	line-height: 18px; padding-left: 20px; display: inline-block;
}
.icon-photo {
	line-height: 18px; padding-left: 20px; display: inline-block;
}
.icon-guarantee {
	background-position: 0px -495px; _background-position-y: -493px;
}
.icon-alipay {
	background-position: 0px -530px; _background-position-y: -528px;
}
.icon-photo {
	background-position: 0px -565px; padding-left: 24px; _background-position-y: -563px;
}
#footer div#footer-v0 {
	padding: 0px; width: auto;
}
#service-v1 .service-container {
	padding: 36px 0px; height: 114px; margin-top: 30px; border-top-color: rgb(239, 239, 239); border-top-width: 2px; border-top-style: solid; background-color: rgb(245, 245, 245);
}
#service-v1 .service {
	margin: 0px auto; width: 990px;
}
#service-v1 .go-home {
	width: 209px; height: 114px; border-right-color: rgb(231, 231, 231); border-right-width: 1px; border-right-style: solid; float: left;
}
#service-v1 .go-home a:hover {
	background-position: 0px -114px;
}
#service-v1 .object-service {
	padding: 0px 50px; width: 95px; float: left;
}
#service-v1 .object-service dt {
	text-align: left; color: rgb(51, 51, 51); font-family: "微软雅黑"; font-size: 18px; margin-bottom: 3px;
}
#service-v1 .object-service dd {
	height: 22px; text-align: left; line-height: 22px;
}
#service-v1 .object-service dd a:link {
	color: rgb(102, 102, 102);
}
#service-v1 .object-service dd a:visited {
	color: rgb(102, 102, 102);
}
#service-v1 .object-service dd a:hover {
	color: rgb(255, 115, 0);
}
#service-v1 .object-service dd a:hover {
	text-decoration: underline;
}
#footer {
	margin: 0px; padding: 0px;
}
#footer div {
	margin: 0px; padding: 0px;
}
#footer p {
	margin: 0px; padding: 0px;
}
#footer ul {
	margin: 0px; padding: 0px;
}
#footer li {
	margin: 0px; padding: 0px;
}
#footer dl {
	margin: 0px; padding: 0px;
}
#footer dt {
	margin: 0px; padding: 0px;
}
#footer dd {
	margin: 0px; padding: 0px;
}
#footer ul {
	list-style: none;
}
#footer a {
	font: 12px/1.5 Tahoma, Arial, "宋体", sans-serif; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
#footer {
	text-align: center; clear: both;
}
#footer #footer-v0 {
	font: 12px/1.5 Tahoma, Arial, "宋体", sans-serif; margin: 0px auto; padding: 8px 4px 0px; width: 952px; color: rgb(153, 153, 153); font-size-adjust: none; font-stretch: normal;
}
#footer-v0 a:link {
	color: rgb(51, 51, 51);
}
#footer-v0 a:visited {
	color: rgb(51, 51, 51);
}
#footer-v0 a:hover {
	color: rgb(255, 115, 0) !important; text-decoration: underline;
}
#footer-v0 a:active {
	color: rgb(255, 115, 0) !important; text-decoration: underline;
}
#footer-v0 .footer-container {
	padding-bottom: 20px; border-top-color: rgb(255, 115, 0); border-top-width: 3px; border-top-style: solid; background-color: rgb(255, 255, 255);
}
#footer-v0 p {
	display: inline;
}
#footer-v0 ul {
	display: inline;
}
#footer-v0 li {
	display: inline;
}
#footer-v0 dt {
	display: inline;
}
#footer-v0 dd {
	display: inline;
}
#footer-v0 p {
	_padding-right: 8px;
}
#footer-v0 .ali-pages {
	padding: 8px 0px;
}
.fullscreen #footer #footer-v0 {
	width: auto; min-width: 952px;
}
.fullscreen #footer-v0 .ali-pages {
	margin: 0px auto; width: 952px;
}
.fullscreen #footer-v0 .ali-group {
	margin: 0px auto; width: 952px;
}
.fd-float-go2top {
	display: none; position: fixed; _position: absolute;
}
.mod-detail-new-otabs {
	border-width: 2px 0px 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(204, 204, 204) rgb(204, 204, 204); width: 750px; height: 33px; background-color: rgb(242, 242, 242);
}
.mod-detail-new-otabs ul li a {
	font-weight: 800;
}
.mod-detail-new-otabs ul {
	height: 33px; position: relative; background-color: rgb(242, 242, 242);
}
.mod-detail-new-otabs ul li {
	height: 33px; line-height: 33px; overflow: visible; float: left; display: block; background-color: rgb(242, 242, 242);
}
.mod-detail-new-otabs ul li.de-selected {
	border-width: 1px 1px 0px; border-style: solid; border-color: rgb(102, 102, 102) rgb(204, 204, 204) rgb(204, 204, 204); width: auto; height: 34px; overflow: visible; margin-top: -1px; margin-bottom: -1px; margin-left: -1px; position: relative; background-color: rgb(255, 255, 255);
}
.mod-detail-new-otabs ul li.de-selected a {
	height: 36px; margin-top: -2px; border-top-color: rgb(102, 102, 102); border-top-width: 2px; border-top-style: solid; float: left; position: relative;
}
.mod-detail-new-otabs li.first a span {
	padding: 0px 16px 0px 17px;
}
.mod-detail-new-otabs li a span em {
	color: rgb(204, 0, 0);
}
.mod-detail-new-otabs li.de-selected a:link {
	color: rgb(68, 68, 68);
}
.mod-detail-new-otabs li.de-selected a:visited {
	color: rgb(68, 68, 68);
}
.mod-detail-new-otabs li.de-selected a {
	color: rgb(68, 68, 68);
}
.mod-detail-new-otabs ul li a {
	color: rgb(68, 68, 68); display: block;
}
.mod-detail-new-otabs li a span {
	background-position: right 3px; padding: 0px 16px;
}
.mod-detail-new-otabs li.last-col a span {
	background: 0px;
}
.mod-detail-new-otabs ul li a:hover {
	color: rgb(51, 51, 51);
}
.mod-detail-new-otabs ul li a:visited {
	color: rgb(51, 51, 51);
}
.mod-detail-new-otabs ul li a:link {
	color: rgb(51, 51, 51);
}
.mod-detail-new-otabs ul li.de-selected a:hover {
	color: rgb(68, 68, 68); text-decoration: underline;
}
.mod-detail-new-otabs ul li.de-selected a {
	color: rgb(68, 68, 68); cursor: default;
}
.mod-detail-new-otabs li.de-selected a span {
	background: 0px; padding: 0px 15px 0px 16px;
}
.mod-detail-new-otabs ul li.first {
	margin-left: 0px;
}
.wp-content-fold-out .mod-detail-new-otabs {
	width: 950px;
}
.mod-detail-new-otabs .d-tab-btn-add {
	height: 33px; margin-top: -33px; float: right; display: none; position: relative;
}
.mod-detail-new-otabs li a .icon-new {
	background-position: 0px -96px; width: 15px; height: 10px; line-height: 200px; overflow: hidden; margin-left: 3px; display: inline-block;
}

.d-sku-title {
	height: 27px; line-height: 26px; padding-top: 1px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; _overflow: hidden;
}
.d-sku-title .title {
	background: rgb(255, 255, 255); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(221, 221, 221) rgb(221, 221, 221) currentColor; margin: 3px 0px -1px 8px; width: 76px; height: 24px; line-height: 24px; font-size: 12px; float: left; position: relative;
}
.d-sku-title .title span {
	padding: 0px 12px; font-weight: bold; display: block;
}
.d-sku-title .d-batch {
	height: 24px; line-height: 24px; padding-left: 22px; margin-top: 3px; position: relative;
}
.d-sku-title .d-batch a:hover {
	color: rgb(255, 115, 0);
}
.d-sku-title .d-batch a:active {
	color: rgb(255, 115, 0);
}
.d-sku-title .d-batch .icon-new {
	background-position: 0px -96px; top: 7px; width: 15px; height: 10px; right: -18px; line-height: 200px; overflow: hidden; margin-right: 0px; position: absolute;
}
.d-sku-title .btn-close {
	background-position: 0px -820px; margin: 5px 8px 0px 0px; width: 18px; height: 18px; line-height: 200px; overflow: hidden; display: block;
}
.d-sku-title .btn-close:hover {
	background-position: 0px -838px;
}